<div class="main">
    <div class="header">
        <img src="../../assets/close.svg" alt="">
    </div>
    <div class="hhh">
        <p><strong>Add Employee</strong></p>
    </div>
    <div class="head">
        <div class="lo we">
            <span>Location</span>
        </div>
        <div class="se we">
            <span>Section</span>
        </div>
        <div class="av we">
            <span>Available</span>
        </div>
    </div>
    <br>
    <div class="bottom">
        <button>Code --> Companyname_free</button>
    </div>
</div>