.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    margin-left: 280px;
}
.head{
    padding: 2px;
    border: 3px solid #4269E1;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
}
.av{
    padding: 12px;
    border: 3px solid #4269E1;
    border-radius: 6px;
    background: #ffffff;
}
.we{
    width: 90px;
}
.se{
    border: none;
    padding: 12px;
}
.lo{
    border: none;
    padding: 12px;
}
span{
    font-weight: bold;
}
.div{
    align-items: center;
    width: 9  0%;
    background: #ffffff;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    margin-right: 2px;
}
.p{
    margin-left: 12px;
}
.bottom{
    width: 350px;
}
button{
    width: 100%;
    background: #ffffff;
    color: #000000;
    border: none;
    height: 44px;
    border-radius: 8px;
    margin-top: 12px;
    font-size: large;
    box-shadow: 12px 24px 28px rgba(0, 0, 0, 0.1);
}