.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.first {
    text-align: center;
    font-size: large;
}

.txt {
    font: 900;
}

input {
    border-radius: 9px;
    width: 400px;
    height: 50px;
    background: #ffffff;
    border: none;
    margin: 9px;
    padding: 8px;
    font-family: Poppins;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4px;
    Width: 400px;
    border-radius: 6px;
}

.svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 150px;
}

.mmm {
    display: flex;
    flex-direction: row;
    margin-left: 180px;
}

button {
    border-radius: 9px;
    background: #4269E1;
    width: 430px;
    height: 60px;
    flex-shrink: 0;
    border: none;
    margin-top: 20px;
    color: #ffffff;
    font-family: Poppins;
}