<div class="main">
    <div class="header">
        <img (click)="openMainComponent()" src="../../assets/close.svg" alt="">
    </div>
    <div class="hhh">
        <p><strong>Add Employee</strong></p>
    </div>
    <div class="head">
        <div (click)="openAddEmployeeLocationComponent()" class="lo we">
            <span>Location</span>
        </div>
        <div class="se we">
            <span>Section</span>
        </div>
        <div (click)="openAddEmployeeAvailableComponent()" class="av we">
            <span>Available</span>
        </div>
    </div>
    <br>
    <div class="body">
        <div class="div">
            <p class="p">Section</p>
        </div>
        <div class="div">
            <p class="p">Section</p>
        </div>
        <div class="div">
            <p class="p">Section</p>
        </div>
        <div class="div">
            <p class="p">Section</p>
        </div>
        <div class="div">
            <p class="p">Section</p>
        </div>
        <div class="div">
            <p class="p">Section</p>
        </div>
    </div>
    <br>
    <div class="bottom">
        <div class="div">
            <p class="p">companyname_1234</p>
        </div>
        <button class="button">Add Code</button>
    </div>
</div>