<div class="main">
    <div class="head">
        <img src="../../assets/close.svg" alt="">
    </div>
    <div class="body">
        <p><strong>Add Worklocation</strong></p>
        <div class="header">
            <div class="lo"><strong>Location</strong></div>
            <div class="se"><strong>Section</strong></div>
        </div>
        <div class="boddy">
            <div class="hr">
                <div class="m">
                    <input class="full" type="text" placeholder="Your Location">
                </div>
                <div class="n">
                    <input type="text" placeholder="Radius [m]">
                    <input type="text" placeholder="Workstyle">
                </div>
            </div>
                
            <hr style="height:2px;border-width:0;color:#4269E1;background-color:#4269E1">
            <div class="bbb">
                <div class="snd">
                    <p>Startdate</p>
                    <input type="text" placeholder="DD:MM:YYYY">
                </div>
                <div class="snd">
                    <p>Enddate</p>
                    <input type="text" placeholder="DD:MM:YYYY">
                </div>
            </div>
            <hr style="height:2px;border-width:0;color:#4269E1;background-color:#4269E1">
            <div class="big">
                <div class="row">
                    <div class="snd">
                        <p>Startime</p>
                        <input type="text" placeholder="hh:mm">
                    </div>
                    <div class="snd">
                        <p>Endtime</p>
                        <input type="text" placeholder="hh:mm">
                    </div>
                </div>
                <input type="text" placeholder="Reminder">
            </div>
            <hr style="height:2px;border-width:0;color:#4269E1;background-color:#4269E1">
            <div class="std">
                <div class="one">
                    <p>Startbreak</p>
                    <input type="text" placeholder="hh:mm">
                </div>
                <div class="one">
                    <p>Endbreak</p>
                    <input type="text" placeholder="hh:mm">
                </div>
                <div class="ne">
                    <img src="../../assets/add.svg" alt="" width="40px" class="e">
                    <img src="../../assets/delete.svg" alt="" width="50px">
                </div>
            </div>
            <hr style="height:2px;border-width:0;color:#4269E1;background-color:#4269E1">
            <input type="text" placeholder="Einheit [Menge]">
            <input type="text" placeholder="Preis pro">
            <input type="text" placeholder="Kosten pro Stunde">
            <hr style="height:2px;border-width:0;color:#4269E1;background-color:#4269E1">
            <input type="text" placeholder="Art der Arbeit">
            <button>Mitarbeiter</button>
            <button>Add Worklocation</button>
        </div>
    </div>
</div>