<div class="main">
    <div class="head">
        <img src="../../assets/close.svg" alt="">
    </div>
    <div class="body">
        <p>Add Worklocation</p>
        <div class="header">
            <div class="lo">Location</div>
            <div class="se">Section</div>
        </div>
        <div class="boddy">
            <input type="text" placeholder="Your Location">
            <input type="Radius [km]">
            
            <hr style="height:2px;border-width:0;color:#4269E1;background-color:#4269E1">
            <div class="snd">
                <p>Startdate</p>
                <input type="text" placeholder="DD:MM:YYYY">
            </div>
            <div class="snd">
                <p>Enddate</p>
                <input type="text" placeholder="DD:MM:YYYY">
            </div>
            <hr style="height:2px;border-width:0;color:#4269E1;background-color:#4269E1">
            <div class="big">
                <div class="row">
                    <div class="snd">
                        <p>Startime</p>
                        <input type="text" placeholder="hh:mm">
                    </div>
                    <div class="snd">
                        <p>Endtime</p>
                        <input type="text" placeholder="hh:mm">
                    </div>
                    <input type="text" placeholder="Reminder">
                </div>
            </div>
            <hr style="height:2px;border-width:0;color:#4269E1;background-color:#4269E1">
            <div class="one">
                <p>Startbreak</p>
                <input type="text" placeholder="hh:mm">
            </div>
            <div class="one">
                <p>Startbreak</p>
                <input type="text" placeholder="hh:mm">
            </div>
            <div class="one">
                <p>Startbreak</p>
                <input type="text" placeholder="hh:mm">
            </div>
        </div>
    </div>
</div>