<div class="main">
    <div class="header">
        <img src="../../assets/close.svg" alt="">
    </div>
    <div class="hhh">
        <p>Add Employee</p>
    </div>
    <div class="head">
        <div class="lo">
            <span>Location</span>
        </div>
        <div class="se">
            <span>Section</span>
        </div>
        <div class="av">
            <span>Available</span>
        </div>
    </div>
    <div class="body">

    </div>
    <div class="bottom">

    </div>
</div>