<div class="cards">
    <div class="all">
        <span>All</span>
        <button (click)="openCardAllComponent()" class="all-btn">4</button>
    </div>
    <div class="all">
        <span>Available</span>
        <button (click)="openCardAvailableComponent()" class="available-btn">4</button>
    </div>
    <div class="all">
        <span>Inactive</span>
        <button (click)="openCardInactiveComponent()" class="inactive-btn">4</button>
    </div>
    <div class="all">
        <span>Absent</span>
        <button (click)="openCardAbsentComponent()" class="absent-btn">4</button>
    </div>
    <div class="all">
        <span>Vacation</span>
        <button (click)="openCardVacationComponent()" class="vacation-btn">4</button>
    </div>
</div>

