.middle{
    display: flex;
    flex-direction: row;
    padding: 6px;
    border-radius: 12px;
    justify-content: space-around;
    margin-top: 30px;
    height: auto;
}
.cards{
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.red{
    background: #E14242;
    color: #ffffff;
}
.green{
    background: #4FE142;
    color: #ffffff;
}
button{
    border: none;
    /* border-radius: 5px; */
    height: 30px;
    width: 30px;
}
.dd{
    display: flex;
    flex-direction: row;
}
.space{
    margin: 6px;
}
.b{
    border-radius: 5px;
}