hr{
    color: blue;
    background-color: blue;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imge{
    /* padding: 20px; */
    padding-right: 180px;
    padding-left: 180px;
    cursor: pointer;
}
.location{
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
}
.ll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.radius{
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    width: 140px;
}
.art{
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    width: 240px;
}
.u{
    text-decoration: underline;
}
.one{
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    margin-right: 20px;
    width: 120px;
}
.i{
    margin-right: -2px;
}
.it{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    margin-top: -2px;
    margin-bottom: -2px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8px;
}
.img{
    margin-right: 12px;
    margin-left: 12px;
}
img{
    cursor: pointer;
}