<div class="main">
    <div class="top">
        <img src="../../assets/close.svg" alt="" (click)="goBack()">
    </div>
    <div class="head">
        <p>Privacy Policy</p>
    </div>
    <div class="body">
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque eos ratione accusamus iure? Magni nulla mollitia consequuntur, amet sit, sed soluta atque nihil optio ipsa fugit exercitationem labore dolor voluptatem?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae inventore saepe iste vero itaque aliquid odio aspernatur repellat pariatur incidunt natus, eos rem harum debitis sed consectetur sit, quia dolores?</p>
    </div>
</div>